@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gray-800;
}

.bc {
    max-height: auto;
    width: 80vw;
    margin: 0 auto;
    /* background-color: aquamarine; */
}

ul.moi {
    /* list-style: inside !important; */
    padding-left: 15px;
}